<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="heading" style="border: 5px solid #006633; box-shadow: 10px 10px 20px rgba(0.2, 0.2, 0.4, 0.2); text-align: center; padding: 15px;">
          <h1 style="color: #006633; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px; font-weight: bold;">CS Department Survey</h1>
        </div>
      </div>
    </div>
  
    <div class="Surveyform row mt-2">
      <div class="Formstart col-md-8 offset-md-2">
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  
          <!-- User Name -->
          <div class="user mb-3">
            <label class="label" for="userName">UserName<span style="color: red;">(*)</span>:</label>
            <input type="text" formControlName="userName" class="form-control" placeholder="Micheal Ros" required autofocus>
          </div>
  
          <!-- Address -->
          <div class="address mb-3">
            <label class="label" for="streetAddress">Resident Address:<span style="color: red;">(*)</span></label>
            <input type="text" formControlName="streetAddress" class="form-control" placeholder="1234 Remond Dr" required>
          </div>
  
          <!-- City and State -->
          <div class="row">
            <div class="city col-md-6 mb-3">
              <label class="label" for="city">City:<span style="color: red;">(*)</span></label>
              <input type="text" formControlName="city" class="form-control" placeholder="New York" required>
            </div>
            <div class="state col-md-3 mb-3">
              <label class="label" for="state">State:<span style="color: red;">(*)</span></label>
              <input list="states" formControlName="state" class="form-control" placeholder="Virginia" required>
              <datalist id="states">
                <option value="Alabama">
                    <option value="Alaska">
                    <option value="Arizona">
                    <option value="Arkansas">
                    <option value="California">
                    <option value="Colorado">
                    <option value="Connecticut">
                    <option value="Delaware">
                    <option value="Florida">
                    <option value="Georgia">
                    <option value="Hawaii">
                    <option value="Idaho">
                    <option value="Illinois">
                    <option value="Indiana">
                    <option value="Iowa">
                    <option value="Kansas">
                    <option value="Kentucky">
                    <option value="Louisiana">
                    <option value="Maine">
                    <option value="Maryland">
                    <option value="Massachusetts">
                    <option value="Michigan">
                    <option value="Minnesota">
                    <option value="Mississippi">
                    <option value="Missouri">
                    <option value="Montana">
                    <option value="Nebraska">
                    <option value="Nevada">
                    <option value="New Hampshire">
                    <option value="New Jersey">
                    <option value="New Mexico">
                    <option value="New York">
                    <option value="North Carolina">
                    <option value="North Dakota">
                    <option value="Ohio">
                    <option value="Oklahoma">
                    <option value="Oregon">
                    <option value="Pennsylvania">
                    <option value="Rhode Island">
                    <option value="South Carolina">
                    <option value="South Dakota">
                    <option value="Tennessee">
                    <option value="Texas">
                    <option value="Utah">
                    <option value="Vermont">
                    <option value="Virginia">
                    <option value="Washington">
                    <option value="West Virginia">
                    <option value="Wisconsin">
                    <option value="Wyoming">
              </datalist>
            </div>
            <div class="zip col-md-3 mb-3">
              <label class="label" for="zipCode">Zip-Code:<span style="color: red;">(*)</span></label>
              <input type="text" formControlName="zipCode" class="form-control" placeholder="52207" required>
            </div>
          </div>
  
          <!-- Email and Phone number -->
          <div class="row">
            <div class="email col-md-6 mb-3">
              <label class="label" for="email">Email:<span style="color: red;">(*)</span></label>
              <input type="email" formControlName="email" class="form-control" placeholder="vickey@gmail.com" required>
            </div>
            <div class="number col-md-6 mb-3">
              <label class="label" for="phoneNumber">Phone-number:<span style="color: red;">(*)</span></label>
              <input type="tel" formControlName="phoneNumber" class="form-control" placeholder="(587)-444-9876" required>
            </div>
          </div>
  
          <!-- Date of Survey and URL Side by Side -->
          <div class="row">
            <div class="date col-md-6 mb-3">
              <label class="label" for="dateOfSurvey">Date of Survey:<span style="color: red;">(*)</span></label>
              <input type="date" formControlName="dateOfSurvey" class="form-control" required>
            </div>
            <div class="url col-md-6 mb-3">
              <label class="label" for="url">URL:<span style="color: red;">(*)</span></label>
              <input type="url" formControlName="url" class="form-control" placeholder="https://www.example.com" required>
            </div>
          </div>
  
          <!-- Checkboxes and Radio Buttons -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="label">What aspect of the campus did you find most appealing?</label>
              <div class="form-check" *ngFor="let aspect of aspectLabels; let i = index">
                <input type="checkbox" class="form-check-input" [formControlName]="aspect" [id]="aspect">
                <label class="form-check-label" [for]="aspect">{{ aspectLabels[i] }}</label>
              </div>
            </div>
          
            <div class="col-md-6 mb-3">
              <label class="label">How did you develop an interest in the university?</label>
              <div class="form-check" *ngFor="let interestOption of interestOptions">
                <input class="form-check-input" type="radio" formControlName="interest" [value]="interestOption" [id]="interestOption">
                <label class="form-check-label" [for]="interestOption">{{ interestOption }}</label>
              </div>
            </div>
          </div>
  
          <!--Graduation Month and Year -->
          <div class="mb-3">
            <div class="row">
              <div class="col-md-6">
                <label class="label" for="graduationMonth">High-School Graduation Month:<span style="color: red;">(*)</span></label>
                <input list="months" formControlName="graduationMonth" class="form-control" required>
                <datalist id="months">
                    <option value="January">
                        <option value="February">
                        <option value="March">
                        <option value="April">
                        <option value="May">
                        <option value="June">
                        <option value="July">
                        <option value="August">
                        <option value="September">
                        <option value="October">
                        <option value="November">
                        <option value="December">
                </datalist>
              </div>
              <div class="col-md-6">
                <label class="label" for="graduationYear">High-School Graduation Year:<span style="color: red;">(*)</span></label>
                <input type="text" formControlName="graduationYear" class="form-control" placeholder="Year" required>
              </div>
            </div>
          </div>
  
          <!-- Likelihood to Recommend and Comments -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="label" for="likelihoodToRecommend">Likelihood of Recommending the University:</label>
              <select class="form-control" formControlName="likelihoodToRecommend">
                <option value="Likely">Likely</option>
                <option value="Unlikely">Unlikely</option>
                <option value="Very Likely">Very Likely</option>
              </select>
            </div>
  
            <div class="col-md-6 mb-3">
              <label class="label" for="comments">Add any Comments if interested(optional):</label>
              <textarea class="form-control" formControlName="comments" rows="2"></textarea>
            </div>
          </div>
         
          <div *ngIf="submissionMessage" class="alert alert-success">
            {{ submissionMessage }}
          </div>
  
          <!-- Submit Button -->
         <!-- Submit Button -->
<button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>
  </div>
  